repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude_types: ["markdown", "xml"]
      - id: trailing-whitespace
        exclude_types: ["markdown", "xml"]
      - id: check-xml
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        exclude_types: ["markdown", "xml"]
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.19.2
    hooks:
      - id: sqlfmt
        language_version: python
